<button class="botao-flutuante" routerLink="/alunos/novo"><img src="assets/plus.png" alt="Símbolo de mais"></button>

<table class="tabela-alunos">
  <thead>
    <tr>
      <th>
        <span (click)="alterarCampoDeOrdenacao('id')"
          >id<img *ngIf="setasOrdenacao.id" [src]="setasOrdenacao.id" alt="Seta de ordenação"
        /></span>
      </th>
      <th>
        <span (click)="alterarCampoDeOrdenacao('nomeCompleto')"
          >Nome<img *ngIf="setasOrdenacao.nomeCompleto" [src]="setasOrdenacao.nomeCompleto" alt="Seta de ordenação"
        /></span>
      </th>
      <th>
        <span (click)="alterarCampoDeOrdenacao('responsavelNome')"
          >Responsável<img *ngIf="setasOrdenacao.responsavelNome" [src]="setasOrdenacao.responsavelNome" alt="Seta de ordenação"
        /></span>
      </th>
      <th>Parentesco</th>
      <th>WhatsApp</th>
    </tr>
  </thead>
  <tbody>
    @for (aluno of alunos; track aluno.id) {
    <tr>
      <td class="coluna-id">{{ aluno.id }}</td>
      <td class="coluna-principal">
        <a routerLink="/alunos/{{ aluno.id }}">{{ aluno.nomeCompleto }}</a>
      </td>
      <td class="coluna">{{ aluno.responsavelNome }}</td>
      <td class="coluna">{{ aluno.parentescoResponsavel }}</td>
      <td class="coluna">{{ aluno.whatsappResponsavel }}</td>
    </tr>
    }
  </tbody>
</table>

<div class="paginacao">
  <span>Linhas por página</span>
  <select
    class="limite-por-pagina"
    [(ngModel)]="itensPorPaginaSelecionado"
    (change)="listarAlunosPrimeiraPagina()"
  >
    @for (item of itensPorPagina; track item) {
    <option [value]="item">{{ item }}</option>
    }
  </select>
  <span>Página {{ paginaAtual }} de {{ ultimaPagina }}</span>
  <button
    (click)="listarAlunosPrimeiraPagina()"
    [disabled]="paginaAtual === 1"
    [class.disabled]="paginaAtual === 1"
  >
    <img src="assets/double-left.png" alt="seta dupla para trás" />
  </button>
  <button
    (click)="listarAlunosPaginaAnterior()"
    [disabled]="paginaAtual === 1"
    [class.disabled]="paginaAtual === 1"
  >
    <img src="assets/left.png" alt="seta para trás" />
  </button>
  <button
    (click)="listarAlunosProximaPagina()"
    [disabled]="paginaAtual === ultimaPagina"
    [class.disabled]="paginaAtual === ultimaPagina"
  >
    <img src="assets/right.png" alt="seta para frente" />
  </button>
  <button
    (click)="listarAlunosUltimaPagina()"
    [disabled]="paginaAtual === ultimaPagina"
    [class.disabled]="paginaAtual === ultimaPagina"
  >
    <img src="assets/double-right.png" alt="seta dupla para frente" />
  </button>
</div>
