.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  width: 75%;
}

.pesquisa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 2em;
  width: 25em;
  padding: 0 1em;
}

.pesquisa input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: 1em;
}

.pesquisa button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.pesquisa img {
  height: 21px;
}

.tabela-alunos td {
  border-bottom: 1px solid var(--cinza-claro);
  border-collapse: collapse;
}

.tabela-alunos td,
.tabela-alunos th {
  padding: 0.5em;
  text-align: left;
}

.tabela-alunos span:hover {
  cursor: pointer;
}

.tabela-alunos img {
  height: 12px;
  margin-left: 3px;
  cursor: pointer;
}

.coluna-principal a {
  color: var(--cinza-escuro);
  text-decoration: none;
}

.coluna-principal a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.coluna-id {
  width: 2em;
}

.coluna-principal {
  width: 25em;
}

.coluna {
  width: 10em;
}

.paginacao {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
  padding: 0;
  background: transparent;
}

.limite-por-pagina {
  border: 1px solid var(--cinza-claro);
  background-color: white;
  padding: 0.5em 1em;
  outline: none;
  margin-right: 2em;
}

.paginacao button {
  border: 1px solid var(--cinza-claro);
  background-color: white;
  padding: 0.5em 0.7em;
}

.paginacao button.disabled {
  border: 1px solid var(--cinza-claro);
  opacity: 0.3;
  cursor: not-allowed;
}

.paginacao img {
  height: 10px;
}
