:host {
  width: 250px;
  height: 100vh;
  /* background-color: var(--cor-destaque); */
  background: linear-gradient(0deg, rgba(132,41,198,1) 0%, rgba(123,27,248,1) 44%);
  padding: 2em 0.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Retirar no novo menu o gap */
  gap: 2em;
}

.navegacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: 400;
}

.navegacao span {
  color: var(--branco);
  padding: 0.5em 1.6em;
  margin-top: 2em;
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: 3px solid var(--branco);
  box-sizing: border-box;
}

.navegacao ul {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.navegacao li {
  padding: 0.5em 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  list-style: none;
}

.navegacao a {
  color: var(--branco);
  padding: 0 1.5em;
  width: 100%;
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  box-sizing: border-box;
}

.navegacao a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navegacao .link-ativo {
  color: white;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 1em;
  margin-top: auto;
  justify-content: center;
}

.social-icons img {
  height: 28px;
  margin-bottom: 0;
}
