<div class="menu-conteudo">
  <img src="/assets/education-icon.png" alt="Logo education">
  <nav class="navegacao">
    <ul>
      <li><a routerLink="/" routerLinkActive="link-ativo" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/alunos" routerLinkActive="link-ativo">Alunos</a></li>
    </ul>
  </nav>
</div>

<div class="social-icons">
  <img src="/assets/instagram.png" alt="ícone instagram">
  <img src="/assets/linkedin.png" alt="ícone linkedin">
  <img src="/assets/site.png" alt="ícone linkedin">
</div>
