<div class="menu-conteudo">
  <img src="/assets/education-icon.png" alt="Logo education" />
  <nav class="navegacao">
    <ul>
      <li>
        <a routerLink="/estudantes" routerLinkActive="link-ativo">Estudantes</a>
      </li>
    </ul>
      <li><a routerLink="/usuarios" routerLinkActive="link-ativo">Usuários</a></li>
  </nav>
</div>

<!-- Novo Menu -->
<!--
<div class="menu-conteudo">
  <img src="/assets/education-icon.png" alt="Logo education" />
  <nav class="navegacao">
    <span>Clientes</span>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="link-ativo"
          [routerLinkActiveOptions]="{ exact: true }"
          >Informações</a
        >
      </li>
      <li>
        <a routerLink="/estudantes" routerLinkActive="link-ativo">Configurações</a>
      </li>
    </ul>
    <span>AI</span>
    <ul>
      <li><a routerLink="/personas" routerLinkActive="link-ativo">Personas</a></li>
      <li><a routerLink="/agentes" routerLinkActive="link-ativo">Agentes</a></li>
    </ul>
    <span>Recursos</span>
    <ul>
      <li><a routerLink="/produtos" routerLinkActive="link-ativo">Produtos</a></li>
      <li><a routerLink="/servicos" routerLinkActive="link-ativo">Serviços</a></li>
      <li><a routerLink="/planos" routerLinkActive="link-ativo">Planos</a></li>
      <li><a routerLink="/convenios" routerLinkActive="link-ativo">Convênios</a></li>
    </ul>
  </nav>
</div> -->

<div class="social-icons">
  <img src="/assets/instagram.png" alt="ícone instagram" />
  <img src="/assets/linkedin.png" alt="ícone linkedin" />
  <img src="/assets/site.png" alt="ícone linkedin" />
</div>
