@if (id) {
<app-titulo-principal>{{ formulario.value.nomeCompleto }}</app-titulo-principal>
} @else {
<app-titulo-principal>Novo aluno</app-titulo-principal>
}

<form [formGroup]="formulario" (ngSubmit)="submeterForm()">
  <div class="campo">
    <label for="nomeCompleto">Nome completo</label>
    <input
      type="text"
      id="nomeCompleto"
      placeholder="Nome completo"
      formControlName="nomeCompleto"
      autofocus
    />
    @if (formulario.get('nomeCompleto')?.invalid &&
    formulario.get('nomeCompleto')?.touched) {
    <span class="mensagem-validacao">Nome é obrigatório.</span>
    }
  </div>
  <div class="campo">
    <label for="endereco">Endereço</label>
    <input
      type="text"
      id="endereco"
      placeholder="Endereço"
      formControlName="endereco"
    />
    @if (formulario.get('endereco')?.invalid &&
    formulario.get('endereco')?.touched) {
    <span class="mensagem-validacao">Endereço é obrigatório.</span>
    }
  </div>
  <div class="campo">
    <label for="bairro">Bairro</label>
    <input
      type="text"
      id="bairro"
      placeholder="Bairro"
      formControlName="bairro"
    />
    @if (formulario.get('bairro')?.invalid && formulario.get('bairro')?.touched)
    {
    <span class="mensagem-validacao">Bairro é obrigatório.</span>
    }
  </div>
  <div class="campo">
    <label for="responsavelNome">Responsável</label>
    <input
      type="text"
      id="responsavelNome"
      placeholder="Nome do responsável"
      formControlName="responsavelNome"
    />
    @if (formulario.get('responsavelNome')?.invalid &&
    formulario.get('responsavelNome')?.touched) {
    <span class="mensagem-validacao">Nome do responsável é obrigatório.</span>
    }
  </div>
  <div class="bloco">
    <div class="campo">
      <label for="parentescoResponsavel">Parentesco</label>
      <select name="" id="">
        @for (parentesco of parentescos; track parentesco.id) {
        <option [ngValue]="parentesco.nome">{{ parentesco.nome }}</option>
        }
      </select>
    </div>
    <button>Cadastrar</button>
  </div>
  <div class="campo">
    <label for="whatsappResponsavel">WhatsApp</label>
    <input
      type="text"
      id="whatsappResponsavel"
      placeholder="WhatsApp do responsável"
      formControlName="whatsappResponsavel"
    />
    @if (formulario.get('whatsappResponsavel')?.invalid &&
    formulario.get('whatsappResponsavel')?.touched) {
    <span class="mensagem-validacao"
      >WhatsApp do responsável é obrigatório.</span
    >
    }
  </div>

  <footer class="detalhes-rodape">
    <app-botao type="submit" [disabled]="!formulario.valid">{{
      id ? "Salvar" : "Criar"
    }}</app-botao>
    @if (id) {
    <app-botao tipo="excluir" (click)="abrirModalExcluir()">Excluir</app-botao>
    }
    <app-botao tipo="outline" (click)="cancelar()">Cancelar</app-botao>
  </footer>
</form>

@if (exibirModalExcluir) {
<app-alert-dialog-excluir
  (fechar)="fecharModalExcluir()"
  (confirmar)="confirmarExclusao()"
>
</app-alert-dialog-excluir>
}
