@if (estudantes.length === 0) {
  <p>Não foi possível carregar a lista.</p>
} @else {

<table class="tabela">
  <thead>
    <tr>
      <th>
        <span (click)="alterarCampoDeOrdenacao('id')"
          >id @if (setasOrdenacao.id) {
          <img [src]="setasOrdenacao.id" alt="Seta de ordenação" /> }</span
        >
      </th>
      <th>
        <span (click)="alterarCampoDeOrdenacao('nomeCompleto')"
          >Nome@if (setasOrdenacao.nomeCompleto) {
          <img [src]="setasOrdenacao.nomeCompleto" alt="Seta de ordenação" />
          }
        </span>
      </th>
      <th>
        <span (click)="alterarCampoDeOrdenacao('responsavel')"
          >Responsável @if (setasOrdenacao.responsavel) {
          <img [src]="setasOrdenacao.responsavel" alt="Seta de ordenação" />
          }
        </span>
      </th>
      <th>WhatsApp</th>
    </tr>
  </thead>
  <tbody>
    @for (estudante of estudantes; track estudante.id) {
    <tr>
      <td class="coluna-id">{{ estudante.id }}</td>
      <td class="coluna-principal">
        <a routerLink="/estudantes/{{ estudante.id }}">{{ estudante.nomeCompleto }}</a>
      </td>
      <td class="coluna">{{ estudante.responsavel }}</td>
      <td class="coluna">{{ estudante.whatsapp }}</td>
    </tr>
    }
  </tbody>
</table>

<div class="paginacao">
  <span>Linhas por página</span>
  <select
    class="limite-por-pagina"
    [(ngModel)]="limiteSelecionado"
    (change)="listarEstudantesPrimeiraPagina()"
  >
    @for (item of limite; track item) {
    <option [value]="item">{{ item }}</option>
    }
  </select>
  <span>Página {{ paginaAtual }} de {{ ultimaPagina }}</span>
  <button
    (click)="listarEstudantesPrimeiraPagina()"
    [disabled]="paginaAtual === 1"
    [class.disabled]="paginaAtual === 1"
  >
    <img src="assets/double-left.png" alt="seta dupla para trás" />
  </button>
  <button
    (click)="listarEstudantesPaginaAnterior()"
    [disabled]="paginaAtual === 1"
    [class.disabled]="paginaAtual === 1"
  >
    <img src="assets/left.png" alt="seta para trás" />
  </button>
  <button
    (click)="listarEstudantesProximaPagina()"
    [disabled]="paginaAtual === ultimaPagina"
    [class.disabled]="paginaAtual === ultimaPagina"
  >
    <img src="assets/right.png" alt="seta para frente" />
  </button>
  <button
    (click)="listarEstudantesUltimaPagina()"
    [disabled]="paginaAtual === ultimaPagina"
    [class.disabled]="paginaAtual === ultimaPagina"
  >
    <img src="assets/double-right.png" alt="seta dupla para frente" />
  </button>
</div>
}
