<app-layout-autenticacao>

<header class="form-header">
  <img src="assets/dark-logo.png" alt="Logo">
  <h1>NetSchool</h1>
</header>

<form [formGroup]="formulario" (ngSubmit)="submeterForm()">
  <div class="campo">
    <label for="email">E-mail</label>
    <input
      type="email"
      id="email"
      placeholder="E-mail"
      formControlName="email"
      autofocus
    />
    @if (formulario.get('email')?.invalid && formulario.get('email')?.touched) {
    <app-mensagem-validacao>E-mail é obrigatório.</app-mensagem-validacao>
    }
  </div>

  <div class="campo">
    <label for="senha">Senha</label>
    <input type="password" id="senha" placeholder="Senha" formControlName="senha" />
    @if (formulario.get('senha')?.invalid && formulario.get('senha')?.touched) {
    <app-mensagem-validacao>Senha é obrigatória.</app-mensagem-validacao>
    }
  </div>

  <p>Não possui conta? <a class="link" routerLink="/cadastrar" >Cadastre-se.</a></p>

  <footer class="detalhes-rodape">
    <app-botao type="submit" [disabled]="!formulario.valid">Login</app-botao>
  </footer>
</form>

</app-layout-autenticacao>
