.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.form-header img {
  height: 40px;
}

.form-header h1 {
  font-size: 1.6em;
  font-weight: 300;
  text-align: center;
  margin: 0.5em 0;
}

.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.campo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;
  margin: 1.2em 0;
}

.campo label {
  font-weight: 600;
  color: var(--cinza-escuro);
}

.campo input {
  color: var(--cinza-escuro);
  padding: 1em 0.5em;
  width: 20em;
  border: 1px solid var(--cinza-claro);
}

.campo input:focus {
  outline: none;
  border: 1px solid var(--cor-destaque);
}

.campo select {
  color: var(--cinza-escuro);
  padding: 0.65em 0.5em;
  width: 8em;
  border: 1px solid var(--cinza-claro);
  background-color: white;
}

.campo select:focus {
  outline: none;
  border: 1px solid var(--cor-destaque);
}

.detalhes-rodape {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}

.mensagem-validacao {
  color: var(--vermelho);
  font-size: 0.8em;
}
