.layout {
  display: flex;
  height: 100vh;
}

.conteudo-principal {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--branco);
  overflow-y: auto;
}

main {
  padding: 1.5em;
}
