<table class="tabela">
  <thead>
    <tr>
      <th>
        <span (click)="alterarCampoDeOrdenacao('id')"
          >id @if (setasOrdenacao.id) {
          <img [src]="setasOrdenacao.id" alt="Seta de ordenação" /> }</span
        >
      </th>
      <th>
        <span (click)="alterarCampoDeOrdenacao('nome')"
          >Nome@if (setasOrdenacao.nome) {
          <img [src]="setasOrdenacao.nome" alt="Seta de ordenação" />
          }
        </span>
      </th>
      <th>
        <span (click)="alterarCampoDeOrdenacao('email')"
          >E-mail @if (setasOrdenacao.email) {
          <img [src]="setasOrdenacao.email" alt="Seta de ordenação" />
          }
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (usuario of usuarios; track usuario.id) {
    <tr>
      <td class="coluna-id">{{ usuario.id }}</td>
      <td class="coluna-principal">
        <a routerLink="/usuarios/{{ usuario.id }}">{{ usuario.nome }}</a>
      </td>
      <td class="coluna">{{ usuario.email }}</td>
    </tr>
    }
  </tbody>
</table>

<div class="paginacao">
  <span>Linhas por página</span>
  <select
    class="limite-por-pagina"
    [(ngModel)]="limiteSelecionado"
    (change)="listarPrimeiraPagina()"
  >
    @for (item of limite; track item) {
    <option [value]="item">{{ item }}</option>
    }
  </select>
  <span>Página {{ paginaAtual }} de {{ ultimaPagina }}</span>
  <button
    (click)="listarPrimeiraPagina()"
    [disabled]="paginaAtual === 1"
    [class.disabled]="paginaAtual === 1"
  >
    <img src="assets/double-left.png" alt="seta dupla para trás" />
  </button>
  <button
    (click)="listarPaginaAnterior()"
    [disabled]="paginaAtual === 1"
    [class.disabled]="paginaAtual === 1"
  >
    <img src="assets/left.png" alt="seta para trás" />
  </button>
  <button
    (click)="listarProximaPagina()"
    [disabled]="paginaAtual === ultimaPagina"
    [class.disabled]="paginaAtual === ultimaPagina"
  >
    <img src="assets/right.png" alt="seta para frente" />
  </button>
  <button
    (click)="listarUltimaPagina()"
    [disabled]="paginaAtual === ultimaPagina"
    [class.disabled]="paginaAtual === ultimaPagina"
  >
    <img src="assets/double-right.png" alt="seta dupla para frente" />
  </button>
</div>

<button class="botao-adicionar" routerLink="/usuarios/novo">
  <img src="assets/plus.png" alt="Símbolo de mais" />
</button>
