<app-layout-autenticacao>

  <h1 class="titulo-secundario">Cadastre-se</h1>

  <form [formGroup]="formulario" (ngSubmit)="submeterForm()">
    <div class="campo">
      <label for="nome">Nome</label>
      <input type="text" id="nom" placeholder="Nome" formControlName="nome" autofocus />
      @if (formulario.get('email')?.invalid && formulario.get('email')?.touched) {
      <app-mensagem-validacao>Nome é obrigatório.</app-mensagem-validacao>
      }
    </div>

    <div class="campo">
      <label for="email">E-mail</label>
      <input type="text" id="email" placeholder="E-mail" formControlName="email" />
      @if (formulario.get('email')?.invalid && formulario.get('email')?.touched) {
      <app-mensagem-validacao>E-mail é obrigatório.</app-mensagem-validacao>
      }
    </div>

    <div class="campo">
      <label for="senha">Senha</label>
      <input type="password" id="senha" placeholder="Senha" formControlName="senha" />
      @if (formulario.get('senha')?.invalid && formulario.get('senha')?.touched) {
      <app-mensagem-validacao>Senha é obrigatório.</app-mensagem-validacao>
      }
    </div>

    <p>Já possui conta? <a class="link" routerLink="/login" >Faça login.</a></p>

    <footer class="detalhes-rodape">
      <app-botao type="submit" [disabled]="!formulario.valid">Criar conta</app-botao>
    </footer>
  </form>

</app-layout-autenticacao>