<app-dialog-modal (aoDialogModalFechado)="fecharModal()">
  <h2>Excluir registro</h2>
  <form (submit)="confirmarExclusao($event)">
    <p class="texto">
      Você está prestes a excluir um registro. Esta ação não pode ser revertida.
      Tem certeza?
    </p>
    <footer class="rodape">
      <app-botao
        tipo="excluir"
        type="submit"
        (click)="confirmarExclusao($event)"
        >Excluir</app-botao
      >
      <app-botao tipo="outline" (click)="fecharModal()">Cancelar</app-botao>
    </footer>
  </form>
</app-dialog-modal>
